<div id="<%= dom_id pt_info %>">
  <p>
    <strong>Email:</strong>
    <%= pt_info.email %>
  </p>

  <p>
    <strong>Fax:</strong>
    <%= pt_info.fax %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= pt_info.phone_number %>
  </p>

  <p>
    <strong>Npi number:</strong>
    <%= pt_info.npi_number %>
  </p>

  <p>
    <strong>Clinic address:</strong>
    <%= pt_info.clinic_address %>
  </p>

  <p>
    <strong>Post grad edu:</strong>
    <%= pt_info.post_grad_edu %>
  </p>

  <p>
    <strong>Home visit:</strong>
    <%= pt_info.home_visit %>
  </p>

  <p>
    <strong>Telemedicine:</strong>
    <%= pt_info.telemedicine %>
  </p>

  <p>
    <strong>About me:</strong>
    <%= pt_info.about_me %>
  </p>

</div>
