<div id="<%= dom_id expression %>">
  <p>
    <strong>User:</strong>
    <%= expression.user_id %>
  </p>

  <p>
    <strong>Article:</strong>
    <%= expression.article_id %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= expression.likes %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= expression.comments %>
  </p>

</div>
