<div id="<%= dom_id users_info %>">
  <p>
    <strong>State:</strong>
    <%= users_info.state %>
  </p>

  <p>
    <strong>City:</strong>
    <%= users_info.city %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= users_info.address %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= users_info.DOB %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= users_info.phone_number %>
  </p>

  <p>
    <strong>Insurance:</strong>
    <%= users_info.insurance %>
  </p>

  <p>
    <strong>Insurance:</strong>
    <%= users_info.insurance_id %>
  </p>

</div>
